extends layout

block content
  h1= title
  p Welcome to #{title}
  - var results = [{flavour:"Vennila", size: "small", price: 40},{flavour:"Vennila", size: "medium", price: 50},{flavour:"Blackcurrent", size: "large", price: 60}]
   div(class="container-fluid")
    div(class="row" )
     each res,index in results
      div(class="col-sm-4" onclick=`buy(${index})`) flavour : #{res.flavour} , size : #{res.size} , price : #{res.price}
  